extends ../base

block title
    | Специальное предложение

    block main
        main#specials.specials__page

            section.specials
                .container
                    .row
                        .col-sm-3.col-xs-4
                            .default-section__wrap
                                .default-section__info
                                    span специальное предложение
                                    a(href="#").full-news__old-news Другие предложения

                        .col-sm-10.col-xs-12
                            .full-news__detals
                                ul.full-news__type
                                    li.active
                                        a(href="#") связь
                                    li
                                        a(href="#") интернет
                                    li
                                        a(href="#") для бизнеса
                    .row
                        .col-lg-offset-3.col-md-offset-2.col-md-12
                            h1.full-news__name  Интернет для бизнеса по лучшей цене
                            p.full-news__description Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.

            section.specials-office
                .container
                    .row
                        .col-lg-offset-3.col-lg-9.col-md-offset-2.col-md-12.col-sm-16.col-xs-16
                            .specials-office__sub
                                span * Найдите цену ниже за сооветствующую скорость интернет-подключения и мы предоставим вам услуги высокоскоростного интернета ещё дешевле.
                                span Обязательным условием для данной акции является наличие коммерческого предложения, либо ссылки на сайт поставщика услуг с подробным тарифным планом
                    .row
                        .col-lg-offset-3.col-lg-9.col-md-offset-2.col-md-9.col-sm-12.col-xs-16
                            h2.specials-office__title Интернет в офис
                            p.specials-office__descripton Высокоскоростной интернет по лучшей цене в городе! Найдите цену ниже за сооветствующую скорость интернет-подключения и мы предоставим вам услуги высокоскоростного интернета ещё дешевле. Обязательным условием для данной акции является наличие коммерческого предложения, либо ссылки на сайт поставщика услуг с подробным тарифным планом.

                            ul.specials-office__advantages
                                li
                                    span.specials-office__advantages-name Контент-фильтрация
                                    span.specials-office__advantages-profit Ограничьте вашим сотрудникам доступ к нецелевым ресурсам. Неотвлекающиеся работники бесценны!
                                li
                                    span.specials-office__advantages-name Доступ к статистике по входящему интернет-трафику
                                    span.specials-office__advantages-profit Позволит определить наиболее востребованные вашими сотрудниками интернет-ресурсы.
                                li
                                    span.specials-office__advantages-name Гостевой Wi-Fi с смс-авторизацией
                                    span.specials-office__advantages-profit Услуга позволит не только проявить свою клиентоориентированность, но и абсолютно легально собрать контактные данные ваших клиентов. Услуга предоставляется в соответствии с действующим законодательством.

                        .col-lg-4.col-md-4.col-sm-4.col-xs-16
                            span.full-news__more а ещё...
                            .full-news__more_wrap
                                a(href="#").full-news__more-link Бизнес в бизнесе,
                                p.full-news__more-info или как заработать не выходя с рабочего места
                            .full-news__more_wrap
                                a(href="#").full-news__more-link Гостевой Wi-fi
                                p.full-news__more-info для торговых центров
                            .full-news__more_wrap
                                a(href="#").full-news__more-link Закачай здоровье из Сети
                                p.full-news__more-info Специальное предложение для фитнес-центров

            section.bonus
                .container
                    .row
                        .col-lg-offset-3.col-lg-9.col-md-offset-2.col-md-9.col-sm-12.col-xs-16
                            h2.bonus__title Приятные бонусы
                            ul.specials-office__advantages
                                li
                                    span.specials-office__advantages-name IP-телефония в офис
                                    span.specials-office__advantages-profit Пакеты дешевых звонков по всей России. Индивидуальный подход к тарификации. Организация работы в единой телефонной сети для всех сотрудников всех офисов. Безопасная и конфиденциальная связь по прямым городским номерам.
                                li
                                    span.specials-office__advantages-name Облачное видеонаблюдение
                                    span.specials-office__advantages-profit Обеспечим безопасность вас, вашего имущества и прилегающей территории. Зафиксируем нарушения в работе сотрудников и противоправные действий со стороны ваших клиентов. А Вы сможете наблюдать работу вашего офиса находясь в любой точке планеты!
                                li
                                    span.specials-office__advantages-name Телевидение в формате HD
                                    span.specials-office__advantages-profit Более 140 каналов. Специальные условия для баров/ресторанов/кафе, организующим спортивные трансляции.

            section.slogan
                .container
                    .row
                        .col-lg-offset-3.col-lg-7.col-md-offset-2.col-md-9.col-sm-12.col-xs-16
                            h2.slogan__title Интернет в каждый дом!
                            p.slogan__name Проведём интернет в каждую квартиру на стадии черновой/чистовой отделки: никаких лишних проводов в квартире
                            p.slogan__name Вместе с Вами подарим подключение к интернету покупателям Ваших квартир
                            p.slogan__name Запустим совместную рекламную кампанию: Интернет-провайдер «ВМЕСТЕ» и ваш Жилой Комплекс
                    .row
                        .col-lg-offset-3.col-lg-6.col-md-offset-2.col-md-9.col-sm-12.col-xs-16
                            h3.slogan__problem Решим главную проблему Управляющей Компании
                            p.slogan__name Включив услуги интернет-провайдера «ВМЕСТЕ» в счёт за коммунальные платежи, вы станете обладателем, пожалуй, самого эффективного инструмента по сбору задолженности за квартплату. В наше время без интернета не может никто!

            section.form-full
                .container
                    .row
                        .col-md-3.col-sm-3.col-xs-4
                            span.form-full__title подключение
                        .col-md-5.col-sm-6.col-xs-12
                            p.form-full__now Мы готовы обеспечить вас качественной связью уже сейчас!

                    .row
                        form(name="спец предложение")

                            .col-sm-offset-3.col-md-offset-3.col-md-7.col-sm-8.col-xs-10
                                .form-full__name
                                    input.form-full__surname(type="text" name="fullName" placeholder="ФИО" required='')
                                    input.form-full__name-company(type="text" name="company" placeholder="Компания" required='')

                                .callback__form-contacts
                                    input(type="text" name="phone" placeholder="Тел." required='')
                                    input(type="text" name="address" placeholder="Адрес" required='')
                                    input(type="text" name="e-mail" placeholder="E-mail" required='')

                            .col-md-4.col-sm-4.col-xs-6
                                button(href="#callBack" type="submit").custom__btn-form я молодец!
