@font-face {
  font-family: "FreestyleScript";
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/FreestyleScript/FreestyleScript.ttf) format("truetype");
  src: url(../fonts/FreestyleScript/FreestyleScript.eot) format("embedded-opentype");
  src: url(../fonts/FreestyleScript/FreestyleScript.eot?#iefix) format("embedded-opentype");
  src: url(../fonts/FreestyleScript/FreestyleScript.woff) format("woff"); }

@font-face {
  font-family: "Exo2-Bold";
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/Exo2-Bold/Exo2-Bold.ttf) format("truetype");
  src: url(../fonts/Exo2-Bold/Exo2-Bold.eot) format("embedded-opentype");
  src: url(../fonts/Exo2-Bold/Exo2-Bold.eot?#iefix) format("embedded-opentype");
  src: url(../fonts/Exo2-Bold/Exo2-Bold.woff) format("woff"); }

@font-face {
  font-family: "Exo2-ExtraBold";
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/Exo2-ExtraBold/Exo2-ExtraBold.ttf) format("truetype");
  src: url(../fonts/Exo2-ExtraBold/Exo2-ExtraBold.eot) format("embedded-opentype");
  src: url(../fonts/Exo2-ExtraBold/Exo2-ExtraBold.eot?#iefix) format("embedded-opentype");
  src: url(../fonts/Exo2-ExtraBold/Exo2-ExtraBold.woff) format("woff"); }

@font-face {
  font-family: "Exo2-Light";
  font-style: normal;
  font-weight: 300;
  src: url(../fonts/Exo2-Light/Exo2-Light.ttf) format("truetype");
  src: url(../fonts/Exo2-Light/Exo2-Light.eot) format("embedded-opentype");
  src: url(../fonts/Exo2-Light/Exo2-Light.eot?#iefix) format("embedded-opentype");
  src: url(../fonts/Exo2-Light/Exo2-Light.woff) format("woff"); }

@font-face {
  font-family: "Exo2-Medium";
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/Exo2-Medium/Exo2-Medium.ttf) format("truetype");
  src: url(../fonts/Exo2-Medium/Exo2-Medium.eot) format("embedded-opentype");
  src: url(../fonts/Exo2-Medium/Exo2-Medium.eot?#iefix) format("embedded-opentype");
  src: url(../fonts/Exo2-Medium/Exo2-Medium.woff) format("woff"); }

@font-face {
  font-family: "Exo2-Regular";
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/Exo2-Regular/Exo2-Regular.ttf) format("truetype");
  src: url(../fonts/Exo2-Regular/Exo2-Regular.eot) format("embedded-opentype");
  src: url(../fonts/Exo2-Regular/Exo2-Regular.eot?#iefix) format("embedded-opentype");
  src: url(../fonts/Exo2-Regular/Exo2-Regular.woff) format("woff"); }

@font-face {
  font-family: "Exo2-SemiBold";
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/Exo2-SemiBold/Exo2-SemiBold.ttf) format("truetype");
  src: url(../fonts/Exo2-SemiBold/Exo2-SemiBold.eot) format("embedded-opentype");
  src: url(../fonts/Exo2-SemiBold/Exo2-SemiBold.eot?#iefix) format("embedded-opentype");
  src: url(../fonts/Exo2-SemiBold/Exo2-SemiBold.woff) format("woff"); }

@font-face {
  font-family: "Exo2-SemiBoldItalic";
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/Exo2-SemiBoldItalic/Exo2-SemiBoldItalic.ttf) format("truetype");
  src: url(../fonts/Exo2-SemiBoldItalic/Exo2-SemiBoldItalic.eot) format("embedded-opentype");
  src: url(../fonts/Exo2-SemiBoldItalic/Exo2-SemiBoldItalic.eot?#iefix) format("embedded-opentype");
  src: url(../fonts/Exo2-SemiBoldItalic/Exo2-SemiBoldItalic.woff) format("woff"); }

@font-face {
  font-family: "Lato-Medium";
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/Lato-Medium/Lato-Medium.ttf) format("truetype");
  src: url(../fonts/Lato-Medium/Lato-Medium.eot) format("embedded-opentype");
  src: url(../fonts/Lato-Medium/Lato-Medium.eot?#iefix) format("embedded-opentype");
  src: url(../fonts/Lato-Medium/Lato-Medium.woff) format("woff"); }

@font-face {
  font-family: "Lato-Regular";
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/Lato-Regular/Lato-Regular.ttf) format("truetype");
  src: url(../fonts/Lato-Regular/Lato-Regular.eot) format("embedded-opentype");
  src: url(../fonts/Lato-Regular/Lato-Regular.eot?#iefix) format("embedded-opentype");
  src: url(../fonts/Lato-Regular/Lato-Regular.woff) format("woff"); }

@font-face {
  font-family: "Lato-Bold";
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/Lato-Bold/Lato-Bold.ttf) format("truetype");
  src: url(../fonts/Lato-Bold/Lato-Bold.eot) format("embedded-opentype");
  src: url(../fonts/Lato-Bold/Lato-Bold.eot?#iefix) format("embedded-opentype");
  src: url(../fonts/Lato-Bold/Lato-Bold.woff) format("woff"); }

body {
  font-size: 16px;
  font-family: "Exo2-Regular", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  background-color: #fff;
  margin: 0;
  position: relative;
  line-height: 1.6;
  overflow-x: hidden;
  -webkit-tap-highlight-color: transparent; }

p, ul {
  padding: 0;
  margin: 0; }

li {
  list-style: none; }

a {
  color: #000;
  -webkit-text-decoration-color: transparent;
          text-decoration-color: transparent; }
  a:hover {
    color: #000; }

a:focus, a:hover {
  text-decoration: none;
  -webkit-text-decoration-color: transparent;
          text-decoration-color: transparent; }

.cusom__button {
  display: inline-block;
  border: none;
  color: #fff;
  text-decoration: none;
  padding: 15px 45px;
  font-size: 13px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 3px;
  -webkit-border-radius: 2px;
          border-radius: 2px;
  text-align: center;
  position: relative;
  outline: none;
  -webkit-transition: background-color .1s ease;
  -o-transition: background-color .1s ease;
  transition: background-color .1s ease; }
  .cusom__button::after {
    -webkit-transition: background-color .2s ease;
    -o-transition: background-color .2s ease;
    transition: background-color .2s ease;
    position: absolute;
    content: '';
    height: 4px;
    bottom: 0;
    width: 100%;
    opacity: .18;
    -webkit-border-bottom-left-radius: 2px;
            border-bottom-left-radius: 2px;
    -webkit-border-bottom-right-radius: 2px;
            border-bottom-right-radius: 2px;
    left: 0; }
  .cusom__button:focus, .cusom__button:hover {
    text-decoration: none;
    color: #fff; }
  .cusom__button:hover::after {
    opacity: .22; }

.custom__btn-form {
  display: inline-block;
  border: none;
  background-color: #cef201;
  text-decoration: none;
  padding: 39px 40px;
  font-size: 30px;
  text-transform: uppercase;
  letter-spacing: 3px;
  text-align: center;
  position: relative;
  outline: none;
  font-weight: 700;
  -webkit-box-shadow: 0 2px 17px rgba(7, 78, 31, 0), 0 0 88.9px 4.1px rgba(206, 242, 0, 0);
          box-shadow: 0 2px 17px rgba(7, 78, 31, 0), 0 0 88.9px 4.1px rgba(206, 242, 0, 0);
  -webkit-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease; }
  .custom__btn-form:hover {
    -webkit-box-shadow: 0 2px 17px rgba(7, 78, 31, 0.51), 0 0 88.9px 4.1px rgba(206, 242, 0, 0.55);
            box-shadow: 0 2px 17px rgba(7, 78, 31, 0.51), 0 0 88.9px 4.1px rgba(206, 242, 0, 0.55); }
  .custom__btn-form:focus {
    outline: none; }

input, textarea, select {
  background-color: #fff;
  border: 1px solid #000;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  padding: 8px 22px;
  outline: none;
  display: block;
  font-size: 16px;
  color: #000; }
  input:focus:required:invalid, textarea:focus:required:invalid, select:focus:required:invalid {
    color: #000; }
  input::-webkit-input-placeholder, textarea::-webkit-input-placeholder, select::-webkit-input-placeholder {
    color: #000; }
  input::-moz-placeholder, textarea::-moz-placeholder, select::-moz-placeholder {
    color: #000;
    opacity: 1; }
  input:-ms-input-placeholder, textarea:-ms-input-placeholder, select:-ms-input-placeholder {
    color: #000; }
  input option, textarea option, select option {
    color: #000; }

.slider__btn {
  width: 30px;
  height: 30px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 33px;
  color: #000;
  background-color: #fff; }
  .slider__btn:hover {
    background-color: #cef200; }

.radio {
  vertical-align: top;
  width: 17px;
  height: 17px;
  margin: 0 3px 0 0; }

.radio + label {
  cursor: pointer; }

.radio:not(checked) {
  position: absolute;
  opacity: 0; }

.radio:not(checked) + label {
  position: relative;
  padding: 0 0 0 10px; }

.radio:not(checked) + label:before {
  content: '';
  position: absolute;
  top: 3px;
  left: -10px;
  width: 16px;
  height: 16px;
  border: 1px solid #525252;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  background: transparent; }

.radio:not(checked) + label:after {
  content: '';
  position: absolute;
  top: 6px;
  left: -7px;
  width: 10px;
  height: 10px;
  -webkit-border-radius: 50%;
          border-radius: 50%;
  background: #aecb06;
  -webkit-box-shadow: inset 0 -1px 4px black, 0 0 5px #cef200;
          box-shadow: inset 0 -1px 4px black, 0 0 5px #cef200;
  opacity: 0;
  -webkit-transition: all .2s;
  -o-transition: all .2s;
  transition: all .2s; }

.radio:checked + label:after {
  opacity: 1; }

input.error + label {
  color: red; }

#form label.error {
  display: none !important; }

.input_wrap {
  position: relative;
  display: block; }
  .input_wrap i {
    display: none;
    position: absolute;
    top: 15px;
    right: 16px;
    font-size: 14px;
    color: #35be70; }

.mfp-close-btn-in .mfp-close {
  color: #fff; }

.mfp-content {
  text-align: center; }

.white-popup.mfp-with-anim.popup {
  display: inline-block;
  text-align: initial;
  position: relative;
  padding: 35px 50px 60px;
  width: 653px;
  -webkit-box-shadow: 0px 17px 100px 13px #e4e4e433;
          box-shadow: 0px 17px 100px 13px #e4e4e433;
  background-color: #0a2538; }
  .white-popup.mfp-with-anim.popup:before {
    content: "";
    width: 80%;
    margin: 0 auto;
    position: absolute;
    top: 50px;
    right: 15px;
    left: 0;
    -webkit-box-shadow: -2px -8px 100px 15px #ffffff21;
            box-shadow: -2px -8px 100px 15px #ffffff21; }

.mfp-close-btn-in .mfp-close {
  top: 28px;
  right: 37px; }

.callback {
  position: relative;
  display: block;
  margin-top: 80px;
  text-align: center; }
  .callback__show-plans {
    font-family: "Exo2-Regular", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-size: 12px;
    color: #176bc2;
    border-bottom: 1px solid #176bc2; }
    .callback__show-plans:hover {
      color: #176bc2; }
  .callback__wrap {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
    .callback__wrap input {
      -webkit-border-radius: 0;
              border-radius: 0;
      width: 100%; }
      .callback__wrap input:last-child {
        margin-top: 19px; }
  .callback__form-name {
    width: 60%; }
  .callback__form-contacts {
    width: 40%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-justify-content: space-around;
        -ms-flex-pack: distribute;
            justify-content: space-around; }
    .callback__form-contacts input:first-child {
      width: 90px; }
    .callback__form-contacts input:nth-child(2) {
      width: 90px; }
    .callback__form-contacts input {
      width: 200px; }
  .callback .custom__btn-form {
    margin-top: 55px;
    padding: 26px 54px; }
  .callback input.error {
    border-color: red; }

.header {
  width: 100%;
  padding: 18px 0; }
  .header__nav {
    padding-top: 13px; }
  .header__items {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row; }
    .header__items li {
      display: block;
      font-family: "Exo2-Regular", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
      font-size: 16px;
      line-height: 20px;
      text-transform: uppercase; }
      .header__items li a {
        -webkit-transition: all .3s ease;
        -o-transition: all .3s ease;
        transition: all .3s ease;
        border-bottom: 1px solid transparent;
        color: #4e4e4e; }
        .header__items li a:hover {
          border-bottom: 1px solid #b7d700;
          color: #b7d700; }
    .header__items li.header__nav-active {
      font-family: "Exo2-ExtraBold", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif; }
      .header__items li.header__nav-active a {
        color: #084067; }
        .header__items li.header__nav-active a:hover {
          color: #084067;
          border-bottom: 1px solid transparent; }
  .header__button {
    background-color: #cef200;
    display: inline-block;
    border: none;
    text-decoration: none;
    padding: 15px 26px;
    font-size: 19px;
    font-family: "Exo2-SemiBold", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    color: #4e4e4e;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
    position: relative;
    outline: none;
    -webkit-transition: background-color .1s ease;
    -o-transition: background-color .1s ease;
    transition: background-color .1s ease;
    -webkit-transition: -webkit-box-shadow .3s ease;
    transition: -webkit-box-shadow .3s ease;
    -o-transition: box-shadow .3s ease;
    transition: box-shadow .3s ease;
    transition: box-shadow .3s ease, -webkit-box-shadow .3s ease; }
    .header__button:hover {
      -webkit-box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
              box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
      color: #4e4e4e; }
  .header__personal {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
        -ms-flex-pack: end;
            justify-content: flex-end; }
  .header__cabinet {
    margin-left: 32px; }
    .header__cabinet span {
      display: inline-block;
      vertical-align: middle;
      margin-left: 20px;
      line-height: 19px; }

.service__title {
  color: #aeaeae;
  font-size: 34px;
  font-family: "Exo2-Light", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  margin-top: 38px;
  font-weight: 300;
  margin-left: 40px; }

.service__item {
  background-color: #b7d700;
  padding: 25px 0 19px 24px;
  position: relative; }
  .service__item:hover {
    background-color: #cef200; }
    .service__item:hover .service__name, .service__item:hover .service__description {
      color: #000; }
    .service__item:hover .service__img_default {
      display: none;
      opacity: 0; }
    .service__item:hover .service__img_hover {
      -webkit-transition: all .3s ease;
      -o-transition: all .3s ease;
      transition: all .3s ease;
      display: block;
      opacity: 1;
      visibility: visible;
      z-index: 1; }
    .service__item:hover .service__item-arrow {
      display: block;
      position: absolute;
      width: 40px;
      top: -25px;
      bottom: 0;
      right: -20px;
      height: 101px;
      z-index: 9;
      background-color: #cef200;
      padding: 31px 6px; }
      .service__item:hover .service__item-arrow:after {
        content: "";
        display: block;
        position: absolute;
        background-image: url(../img/sprite.png);
        background-position: -82px -27px;
        width: 19px;
        height: 36px; }
  .service__item + .service__item {
    margin-top: 2px; }

.service__img {
  margin-right: 15px; }

.service__img_hover {
  opacity: 1; }

.service__item-content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative; }
  .service__item-content span {
    display: block; }

.service__name {
  color: #fff;
  font-size: 36px;
  text-transform: uppercase;
  font-family: "Exo2-Bold", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  line-height: 32px;
  -webkit-transition: color .3s ease;
  -o-transition: color .3s ease;
  transition: color .3s ease; }

.service__description {
  color: #fff;
  font-family: "Exo2-Regular", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-size: 16px;
  -webkit-transition: color .3s ease;
  -o-transition: color .3s ease;
  transition: color .3s ease; }

.service__img_hover {
  position: relative;
  z-index: -1;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
  display: none;
  opacity: 0;
  visibility: hidden; }

.service__arrow_active {
  opacity: 1;
  display: block;
  height: 100px;
  background-color: #cef200; }

.service .service__item-arrow {
  display: none; }

.service__slider {
  margin-top: 9px; }
  .service__slider img {
    width: 100%;
    height: auto; }

.service .owl-nav {
  position: absolute;
  bottom: 0%;
  left: 0;
  right: 0; }

.service .owl-theme .owl-nav [class*=owl-] {
  background-color: transparent; }

.service .owl-carousel .owl-nav .owl-next {
  position: absolute;
  right: -12px;
  bottom: -9px; }

.service .owl-carousel .owl-nav .owl-prev {
  position: absolute;
  right: 18px;
  bottom: -9px; }

.service__price-builder {
  padding: 10px 80px 0 45px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }
  .service__price-builder li {
    min-width: 180px; }
  .service__price-builder a {
    font-size: 16px;
    text-transform: uppercase;
    font-family: "Exo2-Regular", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    color: #084067; }
    .service__price-builder a:hover {
      border-bottom: 1px solid #8899a9; }
  .service__price-builder .active a {
    color: #4e4e4e;
    font-family: "Exo2-SemiBold", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif; }

.designer__wrap {
  padding-top: 60px; }

.designer__title {
  color: #b7d700;
  font-family: "Exo2-Bold", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-size: 28px;
  text-transform: uppercase;
  letter-spacing: 1px;
  line-height: 51px; }

.designer__info {
  color: #4e4e4e;
  font-family: "Lato-Medium", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-size: 16px;
  line-height: 22px; }

.designer__set-speed {
  position: relative;
  margin-top: 21px; }

.designer__builder-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding: 29px 20px 42px 50px;
  background-color: #f6f6f6;
  position: relative; }
  .designer__builder-wrap:before {
    content: "";
    width: 0;
    height: 0;
    border-bottom: 18px solid #fff;
    border-right: 18px solid transparent;
    position: absolute;
    bottom: 0;
    left: 0; }

.designer .slider.slider-horizontal {
  width: 705px; }

.designer .slider .tooltip.top {
  position: absolute; }

.designer .slider-selection {
  display: none; }

.designer .slider.slider-horizontal .slider-track {
  height: 3px;
  background-color: #898989;
  margin-top: -3px;
  background-image: none; }

.designer .slider.slider-horizontal .slider-tick-label-container {
  white-space: normal;
  color: #7b7b7b; }

.designer .slider.slider-horizontal .slider-tick-label-container .slider-tick-label {
  width: 46px;
  line-height: 1;
  font-size: 12px; }

.designer .slider-tick-label {
  position: relative; }
  .designer .slider-tick-label:before {
    content: "";
    display: block;
    width: 1px;
    height: 20px;
    position: absolute;
    background-color: #7b7b7b;
    top: -23px;
    left: 50%; }

.designer .slider-tick-label-container .slider-tick-label:not(:last-child):after {
  content: "";
  display: block;
  background: url("../img/split-double.png") repeat;
  width: 163px;
  height: 10px;
  position: absolute;
  top: -17px;
  left: 31px; }

.designer .slider-tick-label-container .slider-tick-label:first-child {
  position: absolute;
  left: -23px; }
  .designer .slider-tick-label-container .slider-tick-label:first-child:before {
    left: 23px; }

.designer .slider-tick-label-container .slider-tick-label:nth-child(2) {
  position: absolute;
  left: -webkit-calc(25% - 25px);
  left: calc(25% - 25px); }
  .designer .slider-tick-label-container .slider-tick-label:nth-child(2):before {
    left: 23px; }

.designer .slider-tick-label-container .slider-tick-label:nth-child(3) {
  position: absolute;
  left: -webkit-calc(50% - 25px);
  left: calc(50% - 25px); }

.designer .slider-tick-label-container .slider-tick-label:nth-child(4) {
  position: absolute;
  left: -webkit-calc(75% - 25px);
  left: calc(75% - 25px); }

.designer .slider-tick-label-container .slider-tick-label:last-child {
  position: absolute;
  right: -23px; }
  .designer .slider-tick-label-container .slider-tick-label:last-child:before {
    left: inherit;
    right: 23px; }

.designer .slider-handle.min-slider-handle.round {
  width: 16px;
  height: 16px;
  background-color: #aecb06;
  -webkit-box-shadow: inset  0 -1px 4px black, 0 0 5px #cef200;
          box-shadow: inset  0 -1px 4px black, 0 0 5px #cef200; }

.designer .slider-handle {
  background-image: none; }

.designer .slider .tooltip-inner {
  white-space: normal;
  text-align: center;
  font-family: "Lato-Bold", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-size: 31px; }

.designer .slider .tooltip.top {
  top: -40px;
  width: 56px;
  height: 56px;
  background-color: #b7d700;
  position: relative; }
  .designer .slider .tooltip.top:before {
    content: "";
    position: absolute;
    bottom: -11px;
    right: -webkit-calc(50% - 10px);
    right: calc(50% - 10px);
    width: -10px;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 11px solid #b7d700; }

.designer .slider.slider-horizontal .slider-tick-label-container {
  margin-top: 0; }

.designer__current-speed_text {
  position: absolute;
  font-family: "Lato-Regular", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-size: 11px;
  bottom: 1px;
  left: 0;
  right: 0;
  text-align: center;
  font-weight: 800; }

.designer #ex6CurrentSliderValLabel {
  display: none; }

.designer__finish-price {
  margin-left: 60px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.designer__price-txt {
  width: 75px;
  color: #7b7b7b;
  font-family: "Exo2-SemiBold", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  text-transform: uppercase; }

.designer__price-finish {
  color: #084067;
  font-size: 60px;
  font-family: "Exo2-ExtraBold", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  line-height: 26px;
  margin-left: 10px; }
  .designer__price-finish:after {
    content: "\f158";
    font-family: "FontAwesome";
    font-size: 52px; }

.designer__builder-form_wrap {
  padding: 16px 0 20px 50px;
  background-color: #e4e4e4;
  position: relative; }
  .designer__builder-form_wrap:before {
    content: "";
    width: 0;
    height: 0;
    border-top: 18px solid #fff;
    border-right: 18px solid transparent;
    position: absolute;
    top: 0;
    left: 0; }

.designer__builder-form {
  width: 705px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.designer__select-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }

.designer__item-title {
  text-transform: uppercase;
  font-size: 16px;
  font-family: "Exo2-SemiBold", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  color: #084067;
  margin-bottom: 8px; }

.designer__item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  .designer__item input {
    cursor: pointer; }
  .designer__item label {
    font-size: 14px;
    font-family: "Lato-Regular", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    color: #4e4e4e;
    margin-left: 10px; }
  .designer__item + .designer__item {
    margin-top: 5px; }

.designer .custom__btn-form {
  position: absolute;
  right: 18px;
  bottom: 20px; }
