extends ../base

block title
    | Страница тарифов

block main
    main#tarif.tarif__page
        //стандартная секция
        section.tarif.default-section
            .container
                .row
                    .col-sm-3.col-xs-16
                        .default-section__wrap
                            .default-section__info
                                span интернет для дома

                    .col-sm-10.col-xs-16.default-section__title
                        .default-section__top
                            ul.default-section__type
                                li.active
                                    a(href="#") акции
                                li
                                    a(href="#") тарифные планы
                                li
                                    a(href="#") дополнительные услуги
                                li
                                    a(href="#") сделай сам
                        .default-section__main-content
                            h1 надёжный, быстрый, твой!
                            p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.

        section.default-section__article
            .container
                .row
                    .col-md-offset-3.col-md-10.col-xs-16
                        p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.m quaera voluptatem.




        section.slider-shares
            .container
                .col-md-16.col-xs-16
                    a(href="#").slider-shares__show-all Акции
                    .slider-shares__wrap(data-slick='{"slidesToShow": 1, "slidesToScroll": 1}')
                        .item
                            a(href="#") подробнее
                            .slider-shares__baner-wrap
                                img(src="img/slider_share.png")
                            a(href="#callBack").custom__btn-form подключить!
                        .item
                            a(href="#") подробнее
                            .slider-shares__baner-wrap
                                img(src="img/slider_share.png")
                            a(href="#callBack").custom__btn-form подключить!

                        .item
                            a(href="#") подробнее
                            .slider-shares__baner-wrap
                                img(src="img/slider_share.png")
                            a(href="#callBack").custom__btn-form подключить!
                    .customNextBtn.customBtn
                    .customPrevBtn.customBtn



        //секция готовые тарифы
        section.standart-tarifs
            .container
                .row
                    .col-md-16
                        .standart-tarifs__title
                            p готовые тарифы
                            a(href="#") архив тарифов
                .row
                    #standart-tarifs__slider.owl-carousel.owl-theme.standart-tarifs__slider-wrap.clearfix
                        .col-lg-4.col-md-16.col-sm-16
                            .item
                                p.standart-tarifs__name Название тарифного плана
                                span.standart-tarifs__description Краткое описание. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed o eiusmod tempor incididunt ut labore et dolore magna aliqua.
                                    a(href="#") Подробнее
                                ul.standart-tarifs__info
                                    li Скорость интернет-соединения до 60 Мбит/сек.
                                    li ТВ 115 (45 hd) каналов
                                p.standart-tarifs__price 450
                                span /месяц
                                a(href="#callBack").custom__btn-form то, что нужно!
                        .col-lg-4.col-md-16.col-sm-16
                            .item
                                p.standart-tarifs__name Название тарифного плана
                                span.standart-tarifs__description Краткое описание. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed o eiusmod tempor incididunt ut labore et dolore magna aliqua. Подробнее
                                ul.standart-tarifs__info
                                    li Скорость интернет-соединения до 60 Мбит/сек.
                                    li ТВ 115 (45 hd) каналов
                                p.standart-tarifs__price 450
                                span /месяц
                                a(href="#callBack").custom__btn-form то, что нужно!
                        .col-lg-4.col-md-16.col-sm-16
                            .item
                                p.standart-tarifs__name Название тарифного плана
                                span.standart-tarifs__description Краткое описание. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed o eiusmod tempor incididunt ut labore et dolore magna aliqua. Подробнее
                                ul.standart-tarifs__info
                                    li Скорость интернет-соединения до 60 Мбит/сек.
                                    li ТВ 115 (45 hd) каналов
                                p.standart-tarifs__price 450
                                span /месяц
                                a(href="#callBack").custom__btn-form то, что нужно!
                        .col-lg-4.col-md-16.col-sm-16
                            .item
                                p.standart-tarifs__name Название тарифного плана
                                span.standart-tarifs__description Краткое описание. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed o eiusmod tempor incididunt ut labore et dolore magna aliqua. Подробнее
                                ul.standart-tarifs__info
                                    li Скорость интернет-соединения до 60 Мбит/сек.
                                    li ТВ 115 (45 hd) каналов
                                p.standart-tarifs__price 450
                                span /месяц
                                a(href="#callBack").custom__btn-form то, что нужно!
                        .col-lg-4.col-md-16.col-sm-16
                            .item
                                p.standart-tarifs__name Название тарифного плана
                                span.standart-tarifs__description Краткое описание. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed o eiusmod tempor incididunt ut labore et dolore magna aliqua. Подробнее
                                ul.standart-tarifs__info
                                    li Скорость интернет-соединения до 60 Мбит/сек.
                                    li ТВ 115 (45 hd) каналов
                                p.standart-tarifs__price 450
                                span /месяц
                                a(href="#callBack").custom__btn-form то, что нужно!
                        .col-lg-4.col-md-16.col-sm-16
                            .item
                                p.standart-tarifs__name Название тарифного плана
                                span.standart-tarifs__description Краткое описание. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed o eiusmod tempor incididunt ut labore et dolore magna aliqua. Подробнее
                                ul.standart-tarifs__info
                                    li Скорость интернет-соединения до 60 Мбит/сек.
                                    li ТВ 115 (45 hd) каналов
                                p.standart-tarifs__price 450
                                span /месяц
                                a(href="#callBack").custom__btn-form то, что нужно!
                .customNextBtn.customBtn
                .customPrevBtn.customBtn

        //секция доп услули
        section.add-services
            .container
                .row
                    .add-services__wrap
                        .add-services__title
                            span Дополнительные услуги

                        .add-services__tarif-wrap
                            .add-services__item
                                .add-services__ic
                                    img(src="img/service_ic.png")
                                    span аренда Wifi-роутера
                                p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem
                                span.add-services__fropm от
                                span.add-services__price 450
                                span.add-services__month /месяц
                            .add-services__item
                                .add-services__ic
                                    img(src="img/service_ic.png")
                                    span аренда Wifi-роутера
                                p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem
                                span.add-services__fropm от
                                span.add-services__price 450
                                span.add-services__month /месяц
                            .add-services__item
                                .add-services__ic
                                    img(src="img/service_ic.png")
                                    span аренда Wifi-роутера
                                p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem
                                span.add-services__fropm от
                                span.add-services__price 450
                                span.add-services__month /месяц
                            .add-services__item
                                .add-services__ic
                                    img(src="img/service_ic.png")
                                    span аренда Wifi-роутера
                                p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem
                                span.add-services__fropm от
                                span.add-services__price 450
                                span.add-services__month /месяц
                            .add-services__item
                                .add-services__ic
                                    img(src="img/service_ic.png")
                                    span аренда Wifi-роутера
                                p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem
                                span.add-services__fropm от
                                span.add-services__price 450
                                span.add-services__month /месяц
                            .add-services__item
                                .add-services__ic
                                    img(src="img/service_ic.png")
                                    span аренда Wifi-роутера
                                p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem
                                span.add-services__fropm от
                                span.add-services__price 450
                                span.add-services__month /месяц


        //секция конструктор тарифов
        section.designer
            .container
                .designer__wrap.clearfix

                    .row
                        .col-lg-12
                            .designer__prev сделай сам!
                    .row
                            .col-lg-5.col-md-4
                                p.designer__title конструктор тарифов
                                p.designer__info Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit

                            .col-lg-11.col-md-12
                                .designer__builder-wrap
                                    span.designer__set-speed-title Скорость
                                    .designer__set-speed
                                        input#designer__set_speed(type='text', data-slider-value='50')
                                        span#ex6CurrentSliderValLabel
                                            | Current Slider Value:
                                            span#ex6SliderVal 3
                                    .designer__finish-price
                                        span.designer__price-txt и того
                                            br
                                            | в месяц
                                        span.designer__price-finish

                                .designer__builder-form_wrap
                                    form(name="конструктор тарифов(сделай сам)").designer__builder-form
                                        .designer__select-wrap
                                            span.designer__item-title  Wifi-роутер
                                            .designer__item
                                                input(type="radio" name="router" value="Аренда 100 Р/мес" id="rent").radio
                                                label(for="rent") Аренда 100 Р/мес
                                            .designer__item
                                                input(type="radio" name="router" value="Выкуп 1500 Р" id="buy").radio
                                                label(for="buy") Выкуп 1500 Р
                                        .designer__select-wrap
                                            span.designer__item-title  кабельное тв
                                            .designer__item
                                                input(type="radio" name="tv" value="Кабельное ТВ (115 каналов) 100 Р/мес" id="tv").radio
                                                label(for="tv") Кабельное ТВ (115 каналов) 100 Р/мес
                                            .designer__item
                                                input(type="radio" name="tv" value="IpTV (159 каналов) 300 Р/мес" id="ip_tv" required="").radio
                                                label(for="ip_tv") IpTV (159 каналов) 300 Р/мес
                                        .designer__select-wrap
                                            span.designer__item-title  дополнительно
                                            .designer__item
                                                input(type="radio" name="additional" value="Безлимитный телефон, 350 Р/мес" id="phone").radio
                                                label(for="phone") Безлимитный телефон, 350 Р/мес
                                            .designer__item
                                                input(type="radio" name="additional" value="Антивирус «Касперского», 99 Р/мес" id="antivirus").radio
                                                label(for="antivirus") Антивирус «Касперского», 99 Р/мес
                                        input(type='hidden', name='form_name', value='baseForm')
                                        input(type='hidden', name='form_type', value='normal')
                                        //попап
                                        button(href="#callBack" type="").custom__btn-form я молодец!

                                        //a(href="#callBack").custom__btn-form я молодец!