doctype html
html(class="no-js" lang='en')
    head
        meta(charset='UTF-8')
        meta(name='viewport', content='width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0')
        meta(http-equiv='X-UA-Compatible', content='ie=edge')
        title
            block title

        style(type='text/css').
            html .loader {
                background: #fff;
                z-index: 9999;
                position: fixed;
                bottom: 0;
                left: 0;
                right: 0;
                top: 0;
                width: 100%;
                height: 100%;
            }

            html .loader .loader_inner {
                background-size: cover;
                background-position: center center;
                background-repeat: no-repeat;
                background-color: #fff;
                height: 200px;
                width: 200px;
                margin-top: -100px;
                margin-left: -100px;
                left: 50%;
                top: 50%;
                position: absolute
            }

        script(src='js/libs.min.js')
        script(src='js/common.js')

    body
        div
            div
                .loader
                    .loader_inner
                        include ../img/preloader.svg

            block modal
                include modal

            header.header
                .container
                    .row
                        .col-lg-3.col-md-3.col-sm-3
                            .header__logo
                                a(href="index.html")
                                    img(src="img/logo.png")
                        .col-lg-7
                            .header__nav
                                ul.header__items
                                    li.header__nav-active
                                        a(href="#") Интернет для дома
                                    li
                                        a(href="#") Интернет для бизнеса
                                    li
                                        a(href="#") Облачное видеонаблюдение
                                    li
                                        a(href="#") Наши контакты
                        .col-lg-6
                            .header__personal
                                a(href="#").header__button подключиться!
                                a(href="#").header__cabinet
                                    img(src="img/personal_ic.png")
                                    span Личный
                                        br
                                        | кабинет


            block main

            footer.footer
                .container
                    .row
                        .footer__wrap.clearfix
                            .col-lg-8
                                .footer__main.footer__info
                                    .footer__logo
                                        a(href="#")
                                            img(src="img/logo-footer.png")
                                        span.footer__copyRight © «Вместе» 2017

                                    .footer__nav
                                        .footer__nav-links
                                            span Компания
                                            ul
                                                li
                                                    a(href="#") О нас
                                                li
                                                    a(href="#") Оплата услуг
                                                li
                                                    a(href="#") Наши партнеры
                                                li
                                                    a(href="#") Вакансии
                                                li
                                                   a(href="#") Контакты
                                        .footer__nav-links
                                            span Интернет для
                                                ul
                                                    li
                                                        a(href="#") Загородного дома.
                                                    li
                                                        a(href="#") Многоквартирного дома
                                                    li
                                                        a(href="#") Бизнеса
                                            .footer__searc
                                                input(type="search" name="searc" placeholder="найти")#footer_search
                                                button.footer__search-btn
                                                    i.fa.fa-search

                            .col-lg-8
                                .footer__social.footer__info
                                    .footer__social-networks
                                        a(href="#" target="_blank").footer__mail
                                        a(href="#" target="_blank").footer__tw
                                        a(href="#" target="_blank").footer__vk
                                    .footer__made
                                        span Сделано в
                                            a(href="#") Деловом мире






        link(rel='stylesheet', href='css/libs.min.css')
        link(rel='stylesheet', href='css/main.css')

