#callBack.mfp-hide.white-popup.mfp-with-anim.popup
    a(href="#").callback__show-plans Посмотреть все тарифы
    form.callback.mfp-close-btn-in(name="popUp")
        .callback__wrap
            .callback__form-name
                input(type="text" name="street" placeholder="Улица" required='')
                input(type="text" name="fullName" placeholder="ФИО" required='')

            .callback__form-contacts
                input(type="text" name="house" placeholder="Дом" required='')
                input(type="text" name="flat" placeholder="Кв." required='')
                input(type="text" name="phone" placeholder="Тел." required='')

            input(type='hidden', name='form_name', value='')
        button.custom__btn-form подключить!
