extends ../base

block title
    | Страница новости

block main
    main#page_full_news
        section.full-news
            .container
                .row
                    .col-lg-9
                        .full-news__wrap
                            .full-news__info
                                p.full-news__title новости
                                a(href="#").full-news__old-news Архив новостей

                            .full-news__detals
                                span.full-news__date 17.10.2017
                                ul.full-news__type
                                    li.active
                                       a(href="#") связь
                                    li
                                        a(href="#") интернет
                                    li
                                        a(href="#") карта подключений
                                .full-news__autor
                                    img(src="img/autor_ic.png")
                                    span Максимиллиан вяземскый

                .row
                    .col-lg-offset-3.col-lg-10
                        h1.full-news__name  Как оно будет выглядеть в несколько строк
                        p.full-news__description Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.

        section.full-news__main-content
            .container
                .row
                    .col-lg-offset-3.col-lg-9

                        span.full-news__sub Название, подпись, короткое описание, что-то в этом роде...
                        p.full-news__text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.
                        .full-news__quote
                            span Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod  tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit.
                        p.full-news__text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.

                        #video.video
                            .video__bg
                            video(src="video/video.mp4" width="100%" height="440px")
                            a.video__play-pause(type="button" id="play-pause")

                        p.full-news__text Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.

                        .full-news__list
                            ul.full-news__list-markers
                                li.marker Lorem ipsum dolor sit amet, consectetur adipisicing elit
                                li.marker Lorem ipsum dolor sit amet, consectetur adipisicing elit
                                li.marker Lorem ipsum dolor sit amet, consectetur adipisicing elit
                                li.marker Lorem ipsum dolor sit amet, consectetur adipisicing elit

                            ul.full-news__list-markers_iside
                                li 1. Lorem ipsum dolor sit amet, consectetur adipisicing elit
                                        li.marker Lorem ipsum dolor sit amet, consectetur adipisicing elit
                                        li.marker Lorem ipsum dolor sit amet, consectetur adipisicing elit
                                li 2. Laboris nisi ut aliquip ex ea commodo consequat
                                li 3. Laboris nisi ut aliquip ex ea commodo consequat

                    .col-lg-4
                        span.full-news__more а ещё...
                        .full-news__more_wrap
                            span.full-news__more-date 8 августа 2017
                            a(href="#").full-news__more-link Как оно будет выглядеть в несколько строк
                            p.full-news__more-info Подзаголовок, отражающий суть новости в двух-трех предложениях
                        .full-news__more_wrap
                            span.full-news__more-date 8 августа 2017
                            a(href="#").full-news__more-link Как оно будет выглядеть в несколько строк
                            p.full-news__more-info Подзаголовок, отражающий суть новости в двух-трех предложениях
                        .full-news__more_wrap
                            span.full-news__more-date 8 августа 2017
                            a(href="#").full-news__more-link Как оно будет выглядеть в несколько строк
                            p.full-news__more-info Подзаголовок, отражающий суть новости в двух-трех предложениях





