
//.container
//  width: 99%
//  margin: 0 auto
@media only screen and (max-width : 1599px)
  /**/

  //Секция сервис
  .header__button
    padding: 15px 15px
  .header__cabinet
    margin-left: 5px
  .service
    &__name
      font-size: 31px
    &__title
      font-size: 29px
      margin-top: 0
    &__item
      padding: 25px 0 21px 90px
      &:hover

        //  .service__item-arrow
        //    height: 70px
        //    padding: 17px 6px
        //    top: -8px
        .service__item-arrow
          top: -25px
    &__description
      font-size: 15px

  //.service__slider
    margin-top: 68px

  //секция конструктор тарифов
  .designer
    &__builder-wrap
      padding: 29px 20px 42px 31px
    &__builder-form_wrap
      padding: 16px 0 20px 31px
    &__builder-form
      //width: 530px
      flex-wrap: wrap
    &__title
      line-height: 30px
      //padding-left: 0
    &__info
      line-height: 20px
      //padding-left: 0
      padding-top: 18px
    &__price-txt
      font-size: 14px
      line-height: 21px
    &__price-finish
      font-size: 47px
      &:after
        font-size: 47px
  .designer .slider.slider-horizontal
    width: 500px
  .designer .slider-tick-label-container .slider-tick-label:not(:last-child):after
    width: 117px
  .designer__finish-price
    width: 100%
    justify-content: flex-end
  .designer__price-finish
    padding-right: 43px
  .designer__price-finish:after
    right: 0
  .tarif__page .designer__price-finish:after
    right: 0

  //секция новости
  .news
    &__name
      font-size: 20px
      line-height: 24px

  //страница новости
  .full-news
    &__list
      padding: 25px 25px 25px 50px

  //страница тарифы секция готовые тарифы
  .standart-tarifs
    &__name
      font-size: 19px
    &__info
      padding: 8px 0 22px 8px
    //.customNextBtn
      right: 0
  .tarif__page
    &__wrap
      padding: 0 0 0 33px
    .designer .custom__btn-form
      //padding: 20px 10px
      //bottom: 68px
      //font-size: 23px
      //right: 7px

  //страница TV
  .form-full
    &__adress
      padding-left: 0
    &__equipment
      padding-left: 0
    .tab-content
      span
        font-size: 16px
        line-height: 24px
        width: 100%
        min-height: 50px
      .designer__item label
        font-size: 13px
    .callback__form-contacts
      width: 100%
      justify-content: space-between
    .custom__btn-form
      font-size: 26px
      width: 100%
      padding: 29px 34px


  //слайдер акции
  .slider-shares
    .customPrevBtn
      left: 10%
    .customNextBtn
      right: 10%

  .form-full .callback__form-contacts input:last-child
    width: 100%

  .tarif__page .designer .custom__btn-form
    font-size: 24px
  .add-services__item
    width: 413px

  //Страница Специальное предложение
  .specials-office__sub
    top: -131px
    span
      display: inline-block

  .slogan
    background: none
    //background-position: 155% 75%
    //display: none
    &:after
      display: none
      top: -167px
      right: 0px
  .specials__page
    .form-full__now
      font-size: 21px
    .form-full .callback__form-contacts input:last-child
      width: 203px
    .form-full__surname
      width: 290px
    .form-full__name-company
      width: 260px
    .callback__form-contacts input
      width: 165px

@media only screen and (max-width : 1400px)
  /**/
  //.idex_page
  .service__description
    font-size: 13px
  .service__item
    padding: 25px 0 21px 74px
    &:before
      left: 11px
    &:hover
      .service__item-arrow
        height: 96px

  .designer
    &__builder-form
      width: 530px

  .idex_page_business .service__slider
    margin-top:  68px

  .idex_page_business
    //.service__title
      font-size: inherit
    .service__name
      font-size: 27px

  .add-services__item
    width: 330px

  //Страница Специальное предложение
  .specials-office__advantages-name
    padding-right: 0

  .specials__page
    .form-full__now
      font-size: 18px
    .form-full .callback__form-contacts input:last-child
      width: 190px
    .form-full__surname
      width: 245px
    .form-full__name-company
      width: 225px
    .callback__form-contacts input
      width: 135px

@media only screen and (max-width : 1199px)
  //.container
  //  width: 99%
  //  margin: 0 auto
  .idex_page
    .service__item
      padding: 21px 0 14px 70px

  .idex_page_business .service__slider
    margin-top: 58px



  .header__cabinet
    img
      display: none
  .header
    &__logo
      img
        width: 100%
        height: auto
    &__items
      text-align: center
    &__button
      font-size: 11px
      padding: 21px 15px

  .designer__builder-form
    width: 625px

  //Секция сервис
  .service__item
   //&:hover .service__item-arrow
     display: none
  .service__title
    margin-left: 20px
  .service__item:before
   left: 9px
  .service__item
   padding: 25px 0 21px 67px
  .service__description
    font-size: 12px
  .service__item:hover .service__item-arrow
    height: 95px
  .service__price-builder
    padding: 43px 80px 0 0
  .service__price-builder li
    min-width: 170px


  .idex_page .service__item:hover .service__item-arrow
    height: 84px
    top: -21px
    padding: 25px 6px



  //блок новости
  .news__name
    font-size: 16px

  //страница для юр лиц
  .idex_page_business
    .service__name
      font-size: 23px
  .footer__nav-links + .footer__nav-links
     margin-left: 20px
  .footer__made span
     right: 20px

  .form-full .callback__form-contacts input:last-child
     width: 100%


  .slider-shares .item .custom__btn-form
     bottom: 20px
     font-size: 12px

  .slider-shares .customPrevBtn
    left: 15%
  .slider-shares .customNextBtn
    right: 15%

  //.add-services__item
     width: 415px


  .designer__builder-wrap
     margin-top: 20px
  .tarif__page .designer__wrap
     padding: 0
  .slider-shares .slick-active
    transform: scale(1)
  .slider-shares .customNextBtn
    right: -12px
  .slider-shares .customPrevBtn
    left: -12px


  .idex_page_business
    .service__item:hover .service__item-arrow
      top: -25px
      right: -39px
      height: 93px
    .service__title
      font-size: 23px
    .service__description
      font-size: 11px

  //Страница Специальное предложение
  .specials-office__advantages-name
    font-size: 25px
  .specials__page
    .form-full .custom__btn-form
      font-size: 25px


@media only screen and (max-width : 1140px)

  .idex_page .service__description
    font-size: 11px
  .idex_page .service__item:hover .service__item-arrow
    height: 82px

  .specials__page .callback__form-contacts
    margin-top: 18px
  .specials__page .form-full__surname
    width: 225px
  .specials__page .form-full__name-company
    width: 205px
  .specials__page .form-full .callback__form-contacts input:last-child
    width: 135px
  .specials__page .form-full .custom__btn-form
    font-size: 18px
    padding: 35px 34px

@media only screen and (max-width : 991px)
  /***/
  .hamburger
    display: block
    position: absolute
    right: 15px
    top: 21px

  .header__nav
    display: none

  .header__mob-menu
    display: block
  //Секция сервис
  .service__price-builder
    justify-content: space-around
  .designer__builder-form_wrap
    padding: 52px 0 20px 31px
  .designer__finish-price
    margin-left: 0
  .designer__price-txt
    font-size: 12px
  .designer__price-finish
    font-size: 34px
    margin-left: 6px
    padding-right: 30px
  .designer__price-finish:after
    font-size: 34px
    top: 4px
    //right: -26px
  //.designer .custom__btn-form
  //  padding: 10px 10px
  //  bottom: 98px
  //.designer__builder-form
  //  width: 670px
  .designer__builder-form
    width: 427px
  //.designer .custom__btn-form
    padding: 28px 20px

  //Страница новости
  .full-news__name
    font-size: 45px

  .default-section__main-content h1
    font-size: 45px

  //страница кабельное телевидение
  .tv-list__channels-list
    font-size: 16px
  .tv-list__list-all span
    font-size: 13px
  .form-full .custom__btn-form
    font-size: 25px
  .form-full .tab-content .designer__item label
    font-size: 12px
  .form-full .tab-content .radio:not(checked) + label
    padding: 0 0 0 16px

  //стр тариф
  .slider-shares
    padding: 40px 0px
  .add-services__wrap
    padding: 41px 10px 60px 10px
  //.add-services__item
    width: 320px
  //.tarif__page .designer .custom__btn-form
    padding: 10px 10px
    bottom: 98px

  .custom_paddind
    padding-left: 15px
    padding-right: 15px


  .idex_page_business .service__item:hover .service__item-arrow
    right: 0

  //Страница Специальное предложение
  .specials__page .full-news__name:after
    top: 62px
  .specials-office__sub span + span
    margin-left: 0

@media only screen and (max-width : 800px)
  .container
    width: 770px