@media only screen and (max-width : 1614px)
  /**/
  //Секция сервис
  .service
    &__title
      font-size: 29px
      margin-top: 0
    &__item
      padding: 8px 0 6px 24px
    &__description
      font-size: 15px


  //секция конструктор тарифов
  .designer
    &__builder-wrap
      padding: 29px 20px 42px 31px
    &__builder-form_wrap
      padding: 16px 0 20px 31px

  .designer .slider.slider-horizontal
    width: 500px
  .designer .slider-tick-label-container .slider-tick-label:not(:last-child):after
    width: 117px