// для формы normal обёртка и иконка success
.input_wrap
  position: relative
  display: block
  i
    display: none
    position: absolute
    top: 15px
    right: 16px
    font-size: 14px
    color: #35be70


//PopUp
.mfp-close-btn-in .mfp-close
  color: $text-white_color
.mfp-content
  text-align: center

.white-popup.mfp-with-anim.popup
  display: inline-block
  text-align: initial
  position: relative
  padding: 35px 50px 60px
  width: 653px
  box-shadow: 0px 17px 100px 13px #e4e4e433
  background-color: #0a2538
  &:before
    content: ""
    width: 80%
    margin: 0 auto
    position: absolute
    top: 50px
    right: 15px
    left: 0
    box-shadow: -2px -8px 100px 15px #ffffff21
.mfp-close-btn-in .mfp-close
  top: 28px
  right: 37px
.callback
  position: relative
  display: block
  margin-top: 80px
  text-align: center

  &__show-plans
    font-family: $ERegular
    font-size: 12px
    color: #176bc2
    border-bottom: 1px solid #176bc2
    &:hover
      color: #176bc2
  &__wrap
    display: flex
    input
      border-radius: 0
      width: 100%
      &:last-child
        margin-top: 19px
  &__form-name
    width: 60%
  &__form-contacts
    width: 40%
    display: flex
    flex-direction: row
    flex-wrap: wrap
    justify-content: space-around
    input
      &:first-child
        width: 90px
      &:nth-child(2)
        width: 90px
    input
      width: 200px
  .custom__btn-form
    margin-top: 55px
    padding: 26px 54px
  input.error
    border-color: red


//tabs
.tab-content
  .tab-pane
    display: none
.tab-content
  .active
    display: block

//секция новости
#idex_page .news
  .news__title
    border-top: 1px solid #bfbfbf
.news
  padding: 54px 0 100px 0
  &__title
    padding-top: 36px
    text-transform: uppercase
    font-family: $ESemiBold
    color: #4d4d4d
    font-size: 22px
    display: block
    letter-spacing: 2px
    line-height: 9px
  &__all-news
    color: #8b8b8b
    font-size: 12px
    font-family: $ERegular
    border-bottom: 1px solid transparent
    transition: border-bottom .3s ease
    &:hover
      color: #8b8b8b
      border-bottom: 1px solid #8b8b8b
  &__wrap
    padding-top: 30px
  &__link
    &:hover img
      transform: scale(1.1)
  &__photo
    position: relative
    overflow: hidden
    img
      transition: transform .3s ease
      width: 100%
      height: auto
  &__date
    position: absolute
    bottom: 0
    left: 0
    color: #808080
    font-size: 12px
    font-family: $ERegular
    display: block
    background: #fff
    padding-right: 5px
  &__name
    margin-top: 24px
    display: inline-block
    font-size: 24px
    font-family: $ESemiBold
    color: $text_accent_color
    text-decoration: underline
  &__description
    color: $text_greyLight_color
    font-size: 16px
    font-family: $ERegular
    line-height: 20px

