@import "fonts"
@import "vars"
@import "sprite"
@import "default"
@import "part"
@import "header"


//Секция сервис
.service
  &__title
    color: $tect_title_color
    font-size: 34px
    font-family: $ELight
    margin-top: 38px
    font-weight: 300
    margin-left: 40px
  &__item
    background-color: $text_green_color
    padding: 25px 0 19px 24px
    position: relative
    &:hover
      background-color: $btn_color
      .service__name, .service__description
        color: $text_black_color
      .service__img_default
        display: none
        opacity: 0
      .service__img_hover
        transition: all .3s ease
        display: block
        opacity: 1
        visibility: visible
        z-index: 1
      .service__item-arrow
        display: block
        position: absolute
        width: 40px
        top: -25px
        bottom: 0
        right: -20px
        height: 101px
        z-index: 9
        background-color: $btn_color
        padding: 31px 6px
        &:after
          content: ""
          display: block
          position: absolute
          @include sprite($arrow_right)
    & + .service__item
      margin-top: 2px
  &__img
    margin-right: 15px
  &__img_hover
    opacity: 1
  &__item-content
    display: flex
    align-items: center
    position: relative
    span
      display: block
  &__name
    color: $text_white_color
    font-size: 36px
    text-transform: uppercase
    font-family: $EBold
    line-height: 32px
    transition: color .3s ease
  &__description
    color: $text_white_color
    font-family: $ERegular
    font-size: 16px
    transition: color .3s ease
  &__img_hover
    position: relative
    z-index: -1
    transition: all .3s ease
    display: none
    opacity: 0
    visibility: hidden
  &__arrow_active
    opacity: 1
    display: block
    height: 100px
    font-size:
    background-color: $btn_color
  .service__item-arrow
    display: none
  &__slider
    margin-top: 9px
    img
      width: 100%
      height: auto
  .owl-nav
    position: absolute
    bottom: 0%
    left: 0
    right: 0
  .owl-theme .owl-nav [class*=owl-]
    background-color: transparent
  .owl-carousel .owl-nav .owl-next
    position: absolute
    right: -12px
    bottom: -9px
  .owl-carousel .owl-nav .owl-prev
    position: absolute
    right: 18px
    bottom: -9px
  &__price-builder
    padding: 10px 80px 0 45px
    display: flex
    li
      min-width: 180px
    a
      font-size: 16px
      text-transform: uppercase
      font-family: $ERegular
      //font-weight: 900px
      color: $text_accent_color
      &:hover
        border-bottom: 1px solid #8899a9
    .active
      a
        color: $text_grey_color
        font-family: $ESemiBold

//секция конструктор тарифов
.designer
  &__wrap
    padding-top: 60px
  &__title
    color: $text_green_color
    font-family: $EBold
    font-size: 28px
    text-transform: uppercase
    letter-spacing: 1px
    line-height: 51px
  &__info
    color: $text_grey_color
    font-family: $LMedium
    font-size: 16px
    line-height: 22px
  &__set-speed
    position: relative
    margin-top: 21px

  &__builder-wrap
    display: flex
    padding: 29px 20px 42px 50px
    background-color: #f6f6f6
    position: relative
    &:before
      content: ""
      width: 0
      height: 0
      border-bottom: 18px solid #fff
      border-right: 18px solid transparent
      position: absolute
      bottom: 0
      left: 0

  //calculator
  .slider.slider-horizontal
    width: 705px
  .slider .tooltip.top
    position: absolute
  .slider-selection
    display: none
  .slider.slider-horizontal .slider-track
    height: 3px
    background-color: #898989
    margin-top: -3px
    background-image: none
  .slider.slider-horizontal .slider-tick-label-container
    white-space: normal
    color: #7b7b7b
  .slider.slider-horizontal .slider-tick-label-container .slider-tick-label
    width: 46px
    line-height: 1
    font-size: 12px
  .slider-tick-label
    position: relative
    &:before
      content: ""
      display: block
      width: 1px
      height: 20px
      position: absolute
      background-color: #7b7b7b
      top: -23px
      left: 50%
  .slider-tick-label-container
    .slider-tick-label:not(:last-child)
      &:after
        content: ""
        display: block
        background: url("../img/split-double.png") repeat
        width: 163px
        height: 10px
        position: absolute
        top: -17px
        left: 31px
    .slider-tick-label:first-child
      position: absolute
      left: -23px
      &:before
        left: 23px
      //&:after
      //  content: ""
      //  display: block
      //  background: url("../img/split-double.png") repeat
      //  width: 163px
      //  height: 10px
      //  position: absolute
      //  top: -17px
      //  left: 31px
    .slider-tick-label:nth-child(2)
      position: absolute
      left: calc(25% - 25px)
      &:before
        left: 23px
    .slider-tick-label:nth-child(3)
      position: absolute
      left: calc(50% - 25px)
    .slider-tick-label:nth-child(4)
      position: absolute
      left: calc(75% - 25px)

    .slider-tick-label:last-child
      position: absolute
      right: -23px
      &:before
        left: inherit
        right: 23px

  //ползунок
  .slider-handle.min-slider-handle.round
    width: 16px
    height: 16px
    background-color: #aecb06
    box-shadow: inset  0 -1px 4px black, 0 0 5px #cef200
  .slider-handle
    background-image: none
  .slider .tooltip-inner
    white-space: normal
    // width: 50px
    text-align: center
    font-family: $LBold
    font-size: 31px
  .slider .tooltip.top
    top: -40px
    width: 56px
    height: 56px
    background-color: #b7d700
    position: relative
    &:before
      content: ""
      position: absolute
      bottom: -11px
      right: calc(50% - 10px)
      width: -10px
      height: 0
      border-left: 10px solid transparent
      border-right: 10px solid transparent
      border-top: 11px solid #b7d700
  .slider.slider-horizontal .slider-tick-label-container
    margin-top: 0
  //.slider .tooltip-inner
    width: inherit
  &__current-speed_text
    position: absolute
    font-family: $LRegular
    font-size: 11px
    bottom: 1px
    left: 0
    right: 0
    text-align: center
    font-weight: 800
  #ex6CurrentSliderValLabel
    display: none
  &__finish-price
    margin-left: 60px
    display: flex
    justify-content: space-between
    align-items: center
  &__price-txt
    width: 75px
    color: #7b7b7b
    font-family: $ESemiBold
    font-size: 16px
    line-height: 24px
    text-transform: uppercase
  &__price-finish
    color: $text_accent_color
    font-size: 60px
    font-family: $EExtraBold
    line-height: 26px
    margin-left: 10px
    &:after
      content: "\f158"
      font-family: "FontAwesome"
      font-size: 52px

  &__builder-form_wrap
    padding: 16px 0 20px 50px
    background-color: #e4e4e4
    position: relative
    &:before
      content: ""
      width: 0
      height: 0
      border-top: 18px solid #fff
      border-right: 18px solid transparent
      position: absolute
      top: 0
      left: 0
  &__builder-form
    width: 705px
    display: flex
    justify-content: space-between
  &__select-wrap
    display: flex
    flex-direction: column
  &__item-title
    text-transform: uppercase
    font-size: 16px
    font-family: $ESemiBold
    color: $text_accent_color
    margin-bottom: 8px
  &__item
    display: flex
    align-items: center
    input
      cursor: pointer
    label
      font-size: 14px
      font-family: $LRegular
      color: $text_grey_color
      margin-left: 10px
    & + .designer__item
      margin-top: 5px
  .custom__btn-form
    position: absolute
    right: 18px
    bottom: 20px





//------------page business

#idex_page_business .service__title
  margin-top: 0


//------------page news
.full-news
  position: relative
  padding: 43px 0 40px 0
  background: url("../img/article_bg.jpg") no-repeat
  background-size: cover
  height: calc(100vh - 96px)
  &:before
    content: ""
    position: absolute
    top: 0
    bottom: 0
    right: 0
    left: 0
    background-color: rgba(0,0,0, .5)
  &__wrap
    display: flex
    justify-content: space-between
    position: relative
  &__title
    padding-top: 12px
    text-transform: uppercase
    font-family: $ESemiBold
    color: $text_white_color
    font-size: 22px
    display: block
    letter-spacing: 2px
    line-height: 9px
  &__old-news
    color: #8b8b8b
    font-size: 12px
    font-family: $ERegular
    border-bottom: 1px solid transparent
    transition: border-bottom .3s ease
    &:hover
      color: #8b8b8b
      border-bottom: 1px solid #8b8b8b
  &__detals
    display: flex
    //justify-content: space-around
  &__date
    font-family: $ESemiBold
    font-size: 12px
    color: #acadae
    line-height: 31px
  &__type
    display: flex
    margin-left: 30px
    .active
      a
        color: #aecb06
        font-family: $ERegular
        font-size: 12px
    li + li
      margin-left: 10px
    a
      text-decoration: underline
      color: $text_white_color
      font-family: $ERegular
      font-size: 12px
  &__autor
    margin-left: 40px
    color: #fff
    font-size: 12px
    span
      margin-left: 12px
  &__name
    font-size: 60px
    font-family: $EExtraBold
    color: $text_white_color
    text-transform: uppercase
    margin-top: 29px
    letter-spacing: 1px
    line-height: 73px
  &__description
    margin-top: 4px
    font-family: $ESemiBoldItalic
    font-size: 20px
    color: #fff
    line-height: 26px
  &__sub
    position: absolute
    top: -115px
    left: 15px
    color: #fff
    font-size: 13px
  &__main-content
    position: relative
    padding: 50px 0 80px 0
  &__text
    font-size: 18px
    line-height: 25px
  &__quote
    padding: 57px 100px
    font-size: 20px
    font-family: $LSemiboldIt
    color: $text_accent_color
    position: relative
    line-height: 25px
    &:before
      content: ''
      position: absolute
      top: 37px
      left: 0
      display: block
      @include sprite($quotes-ic)
  &__list
    padding: 54px 50px 50px 102px
    ul + ul
      padding-top: 62px
    li
      font-size: 18px
      color: #454545
      line-height: 31px
    li.marker
      position: relative
      &:before
        content: ""
        display: block
        position: absolute
        left: -14px
        top: 11px
        width: 8px
        height: 8px
        background-color: #454545
        border-radius: 50%
  &__list-markers
    margin-left: 14px
  &__list-markers_iside
    li.marker
      margin-left: 50px
  &__more_wrap
    + .full-news__more_wrap
      border-top: 1px solid $text_greyLight_color
      padding-top: 25px
  &__more
    font-family: $ESemiBold
    font-size: 22px
    color: $text_greyLight_color
    text-transform: uppercase
    display: block
    margin-bottom: 37px
    letter-spacing: 2px
  &__more-date
    font-size: 12px
    font-family: $ERegular
    color: $text_greyLight_color
    display: block
  &__more-link
    color: $text_accent_color
    font-size: 24px
    font-family: $ESemiBold
    text-decoration: underline
    line-height: 30px
    &:hover
      text-decoration: underline
      color: $text_accent_color

  &__more-info
    color: $text_greyLight_color
    font-size: 16px
    margin-bottom: 26px
    display: block
    line-height: 22px

.video
  margin: 50px 0 35px 0
  display: flex
  background-size: cover
  position: relative
  height: 440px
  .video__bg
    background: url("../img/video_bg.jpg") no-repeat
    background-size: cover
    position: absolute
    top: 0
    left: 0
    right: 0
    bottom: 0
    transition: .5s
    &:before
      content: ""
      position: absolute
      top: 0
      left: 0
      right: 0
      bottom: 0
      background: rgba(0, 0, 0, 0.7)
  &__play-pause
    z-index: 1
    position: absolute
    top: calc(50% - 30px)
    left: calc(50% - 30px)
    background: transparent
    @include sprite($video_play_pause_ic)
    display: inline-block
    cursor: pointer

//--------страница TV

.tv
  background: url("../img/tv_bg.jpg") no-repeat center


.tv-list
  background: url("../img/tv_list_bg.jpg") no-repeat center
  max-height: 840px
  padding: 61px 0 100px 0
  background-size: cover
  &__title
    font-family: $ESemiBold
    font-size: 16px
    text-transform: uppercase
    color: $text_greyLight_color
    text-align: center
    display: block
  &__type-toggle
    font-family: $ESemiBold
    font-size: 16px
    color: #000
    text-transform: uppercase
    li
      display: inline-block
      a
        padding: 4px 22px
        display: block
        background-color: #eaeaea
        color: #7a7a7a
        letter-spacing: 1px
    li.active
      a
        transition: background-color .3s ease
        background-color: $btn_color
        color: #000
        &:hover
          color: #000
  &__channels-list
    font-size: 22px
    font-family: $ESemiBold
    text-transform: uppercase
    margin-top: 36px
    li + li
      margin-top: 5px
    a
      text-decoration: underline
      color: $text_greyLight_color
      transition: color .3s ease
      &:hover
        color: #cef200
    .active-list
      a
        color: $text_accent_color
        //cursor: default
        text-decoration: none
        font-size: 22px
        font-family: $EExtraBold
  &__selected-package
    display: inline-block
    color: $text_grey_color
    font-family: $EExtraBold
    font-size: 16px
    text-transform: uppercase
    margin-left: 46px

  &__list-chanels
    font-family: $ERegular
    font-size: 16px
    text-transform: uppercase
  &__list-all
    ul
      margin-top: 47px
      display: flex
      flex-wrap: wrap
      flex-direction: column
      align-content: space-around
      height: 500px
    li:hover
      span
        color: #cef200
        border-color: #cef200
    img
      display: inline-block
      vertical-align: middle
    span
      display: inline-block
      margin-left: 12px
      vertical-align: middle
      border-bottom: 1px solid #454545
      font-size: 18px
      font-family: $LRegular
      color: #454545
      line-height: 28px
      transition: all .3s ease

.form-full
  padding: 67px 0 70px 0
  background-color: #084067
  &__title
    font-family: $ESemiBold
    font-size: 16px
    text-transform: uppercase
    color: #cef200
    text-align: center
    display: block
  .tv-list__type-toggle li.active a
    background-color: #cef200
  .tv-list__type-toggle li a
    background-color: #1c7699
    color: #fefefe
  .tab-content
    span
      font-family: $ESemiBold
      font-size: 22px
      color: #fff
      margin: 31px 0 14px 0
      display: block
      width: 294px
      text-transform: uppercase
      line-height: 28px
    .designer__item label
      font-size: 16px
      color: #fff
    .radio:not(checked) + label
      padding: 0 0 0 25px
    .radio:not(checked) + label:before
      border-color: #fff
  .designer__select-wrap
    min-height: 113px
  input
    background: #fff
    color: #717171
    font-family: $ELight
    font-size: 18px
    border-radius: 0
    border: 1px solid transparent
  .tab-content
    input.error
      border: 1px solid red
    input.error +label
      color: red
  &__name
    input
      width: 100%
    input + input
      margin-top: 19px

  .callback__form-contacts
    width: 220px
    input:last-child
      margin-top: 19px

  &__adress
    padding-left: 50px
  .custom__btn-form
    padding: 29px 40px
    display: block
    width: 100%
  &__equipment
    padding-left: 30px

.tarif
  background: url("../img/tarif_bg.jpg") no-repeat center
  background-size: cover


//секция готовые тарифы
.standart-tarifs
  background: url("../img/standart_tarifs_bg.jpg") no-repeat center
  background-size: cover
  padding: 40px 0 44px 0
  .container
    position: relative
  &__title
    padding: 0 45px
    display: flex
    justify-content: space-between
    p
      display: block
      width: 75px
      font-size: 16px
      font-family: $ESemiBold
      text-transform: uppercase
      color: #fff
      line-height: 22px
      letter-spacing: 1px
    a
      font-family: $ERegular
      font-size: 11px
      color: #0088e7
      text-decoration: underline
      text-transform: uppercase
  &__slider-wrap
    margin-top: 33px
    padding: 0 45px
    position: relative

  .item
    padding: 30px
    color: #454545
    background-color: #ececec
    font-size: 16px
    width: 343px
    transition: transform .3s ease
    margin: 0 auto
    &:hover
      transform: scale(1.05)
      box-shadow: 0 0 30px rgba(0, 0, 0, 0.75)
  .item__wrap
    margin-top: 20px
    margin-bottom: 20px
  &__name
    font-family: $EBold
    font-size: 32px
    color: #084067
    line-height: 36px
  &__description
    font-family: $LRegular
    margin-top: 11px
    display: block
    line-height: 20px
  &__info
    padding: 17px 0 22px 17px
    line-height: 21px
    border-top: 1px solid #454545
    border-bottom: 1px solid #454545
    font-family: $LMedium
    margin-top: 22px
    li
      position: relative
      &:before
        content: ""
        width: 10px
        height: 10px
        background-color: #bedf00
        position: absolute
        top: 9px
        left: -15px
        border-radius: 50%
    li + li
      margin-top: 15px
  &__price
    font-size: 44px
    font-family: $EBold
    color: #bedf00
    display: inline-block
    line-height: 52px
    &:after
      content: "\f158"
      font-family: "FontAwesome"
  .custom__btn-form
    font-size: 19px
    font-family: $ESemiBold
    color: #fff
    padding: 15px 40px
    display: block
    margin-top: 15px
    &:hover
      color: #000
  .customBtn
    position: absolute
    top: 50%
  .customNextBtn
    right: 0

  .owl-stage
    padding: 35px 0 35px 0
  .owl-theme .owl-dots .owl-dot span
    border-radius: 0
    background-color: #094062
  .owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span
    background-color: #cef200
  .owl-theme .owl-nav.disabled+.owl-dots
    margin-top: -7px
@import "footer"