// SASS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home
//   width: $icon-home-width
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites
$arrow-right-name: 'arrow_right'
$arrow-right-x: 0px
$arrow-right-y: 75px
$arrow-right-offset-x: 0px
$arrow-right-offset-y: -75px
$arrow-right-width: 19px
$arrow-right-height: 36px
$arrow-right-total-width: 171px
$arrow-right-total-height: 141px
$arrow-right-image: '../img/sprite.png'
$arrow-right: (0px, 75px, 0px, -75px, 19px, 36px, 171px, 141px, '../img/sprite.png', 'arrow_right', )
$arrow-right-green-name: 'arrow_right_green'
$arrow-right-green-x: 153px
$arrow-right-green-y: 0px
$arrow-right-green-offset-x: -153px
$arrow-right-green-offset-y: 0px
$arrow-right-green-width: 18px
$arrow-right-green-height: 34px
$arrow-right-green-total-width: 171px
$arrow-right-green-total-height: 141px
$arrow-right-green-image: '../img/sprite.png'
$arrow-right-green: (153px, 0px, -153px, 0px, 18px, 34px, 171px, 141px, '../img/sprite.png', 'arrow_right_green', )
$instagramm-ic-name: 'instagramm_ic'
$instagramm-ic-x: 69px
$instagramm-ic-y: 75px
$instagramm-ic-offset-x: -69px
$instagramm-ic-offset-y: -75px
$instagramm-ic-width: 20px
$instagramm-ic-height: 20px
$instagramm-ic-total-width: 171px
$instagramm-ic-total-height: 141px
$instagramm-ic-image: '../img/sprite.png'
$instagramm-ic: (69px, 75px, -69px, -75px, 20px, 20px, 171px, 141px, '../img/sprite.png', 'instagramm_ic', )
$mail-ic-name: 'mail_ic'
$mail-ic-x: 99px
$mail-ic-y: 75px
$mail-ic-offset-x: -99px
$mail-ic-offset-y: -75px
$mail-ic-width: 20px
$mail-ic-height: 20px
$mail-ic-total-width: 171px
$mail-ic-total-height: 141px
$mail-ic-image: '../img/sprite.png'
$mail-ic: (99px, 75px, -99px, -75px, 20px, 20px, 171px, 141px, '../img/sprite.png', 'mail_ic', )
$mail-to-name: 'mail_to'
$mail-to-x: 29px
$mail-to-y: 75px
$mail-to-offset-x: -29px
$mail-to-offset-y: -75px
$mail-to-width: 30px
$mail-to-height: 21px
$mail-to-total-width: 171px
$mail-to-total-height: 141px
$mail-to-image: '../img/sprite.png'
$mail-to: (29px, 75px, -29px, -75px, 30px, 21px, 171px, 141px, '../img/sprite.png', 'mail_to', )
$quotes-ic-name: 'quotes_ic'
$quotes-ic-x: 0px
$quotes-ic-y: 0px
$quotes-ic-offset-x: 0px
$quotes-ic-offset-y: 0px
$quotes-ic-width: 72px
$quotes-ic-height: 65px
$quotes-ic-total-width: 171px
$quotes-ic-total-height: 141px
$quotes-ic-image: '../img/sprite.png'
$quotes-ic: (0px, 0px, 0px, 0px, 72px, 65px, 171px, 141px, '../img/sprite.png', 'quotes_ic', )
$video-play-pause-ic-name: 'video_play_pause_ic'
$video-play-pause-ic-x: 82px
$video-play-pause-ic-y: 0px
$video-play-pause-ic-offset-x: -82px
$video-play-pause-ic-offset-y: 0px
$video-play-pause-ic-width: 61px
$video-play-pause-ic-height: 61px
$video-play-pause-ic-total-width: 171px
$video-play-pause-ic-total-height: 141px
$video-play-pause-ic-image: '../img/sprite.png'
$video-play-pause-ic: (82px, 0px, -82px, 0px, 61px, 61px, 171px, 141px, '../img/sprite.png', 'video_play_pause_ic', )
$vk-ic-name: 'vk_ic'
$vk-ic-x: 0px
$vk-ic-y: 121px
$vk-ic-offset-x: 0px
$vk-ic-offset-y: -121px
$vk-ic-width: 20px
$vk-ic-height: 20px
$vk-ic-total-width: 171px
$vk-ic-total-height: 141px
$vk-ic-image: '../img/sprite.png'
$vk-ic: (0px, 121px, 0px, -121px, 20px, 20px, 171px, 141px, '../img/sprite.png', 'vk_ic', )
$spritesheet-width: 171px
$spritesheet-height: 141px
$spritesheet-image: '../img/sprite.png'
$spritesheet-sprites: ($arrow-right, $arrow-right-green, $instagramm-ic, $mail-ic, $mail-to, $quotes-ic, $video-play-pause-ic, $vk-ic, )
$spritesheet: (171px, 141px, '../img/sprite.png', $spritesheet-sprites, )

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home
//   @include sprite-width($icon-home)
//
// .icon-email
//   @include sprite($icon-email)
//
// Example usage in HTML:
//   `display: block` sprite:
//   <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//   // CSS
//   .icon {
//     display: inline-block;
//   }
//
//   // HTML
//   <i class="icon icon-home"></i>
@mixin sprite-width($sprite)
  width: nth($sprite, 5)

@mixin sprite-height($sprite)
  height: nth($sprite, 6)

@mixin sprite-position($sprite)
  $sprite-offset-x: nth($sprite, 3)
  $sprite-offset-y: nth($sprite, 4)
  background-position: $sprite-offset-x  $sprite-offset-y

@mixin sprite-image($sprite)
  $sprite-image: nth($sprite, 9)
  background-image: url(#{$sprite-image})

@mixin sprite($sprite)
  @include sprite-image($sprite)
  @include sprite-position($sprite)
  @include sprite-width($sprite)
  @include sprite-height($sprite)

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SASS
//
// @include sprites($spritesheet-sprites)
@mixin sprites($sprites)
  @each $sprite in $sprites
    $sprite-name: nth($sprite, 10)
    .#{$sprite-name}
      @include sprite($sprite)
