// SASS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home
//   width: $icon-home-width
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites
$arrow-right-name: 'arrow_right'
$arrow-right-x: 198px
$arrow-right-y: 146px
$arrow-right-offset-x: -198px
$arrow-right-offset-y: -146px
$arrow-right-width: 19px
$arrow-right-height: 36px
$arrow-right-total-width: 347px
$arrow-right-total-height: 299px
$arrow-right-image: '../img/sprite.png'
$arrow-right: (198px, 146px, -198px, -146px, 19px, 36px, 347px, 299px, '../img/sprite.png', 'arrow_right', )
$arrow-right-green-name: 'arrow_right_green'
$arrow-right-green-x: 114px
$arrow-right-green-y: 258px
$arrow-right-green-offset-x: -114px
$arrow-right-green-offset-y: -258px
$arrow-right-green-width: 18px
$arrow-right-green-height: 34px
$arrow-right-green-total-width: 347px
$arrow-right-green-total-height: 299px
$arrow-right-green-image: '../img/sprite.png'
$arrow-right-green: (114px, 258px, -114px, -258px, 18px, 34px, 347px, 299px, '../img/sprite.png', 'arrow_right_green', )
$computer-ic-hover-name: 'computer_ic-hover'
$computer-ic-hover-x: 231px
$computer-ic-hover-y: 64px
$computer-ic-hover-offset-x: -231px
$computer-ic-hover-offset-y: -64px
$computer-ic-hover-width: 54px
$computer-ic-hover-height: 54px
$computer-ic-hover-total-width: 347px
$computer-ic-hover-total-height: 299px
$computer-ic-hover-image: '../img/sprite.png'
$computer-ic-hover: (231px, 64px, -231px, -64px, 54px, 54px, 347px, 299px, '../img/sprite.png', 'computer_ic-hover', )
$computer-ic-name: 'computer_ic'
$computer-ic-x: 231px
$computer-ic-y: 0px
$computer-ic-offset-x: -231px
$computer-ic-offset-y: 0px
$computer-ic-width: 54px
$computer-ic-height: 54px
$computer-ic-total-width: 347px
$computer-ic-total-height: 299px
$computer-ic-image: '../img/sprite.png'
$computer-ic: (231px, 0px, -231px, 0px, 54px, 54px, 347px, 299px, '../img/sprite.png', 'computer_ic', )
$filter-ic-name: 'filter_ic'
$filter-ic-x: 154px
$filter-ic-y: 59px
$filter-ic-offset-x: -154px
$filter-ic-offset-y: -59px
$filter-ic-width: 56px
$filter-ic-height: 58px
$filter-ic-total-width: 347px
$filter-ic-total-height: 299px
$filter-ic-image: '../img/sprite.png'
$filter-ic: (154px, 59px, -154px, -59px, 56px, 58px, 347px, 299px, '../img/sprite.png', 'filter_ic', )
$instagramm-ic-name: 'instagramm_ic'
$instagramm-ic-x: 202px
$instagramm-ic-y: 258px
$instagramm-ic-offset-x: -202px
$instagramm-ic-offset-y: -258px
$instagramm-ic-width: 20px
$instagramm-ic-height: 20px
$instagramm-ic-total-width: 347px
$instagramm-ic-total-height: 299px
$instagramm-ic-image: '../img/sprite.png'
$instagramm-ic: (202px, 258px, -202px, -258px, 20px, 20px, 347px, 299px, '../img/sprite.png', 'instagramm_ic', )
$ip-ic-name: 'ip_ic'
$ip-ic-x: 82px
$ip-ic-y: 0px
$ip-ic-offset-x: -82px
$ip-ic-offset-y: 0px
$ip-ic-width: 62px
$ip-ic-height: 62px
$ip-ic-total-width: 347px
$ip-ic-total-height: 299px
$ip-ic-image: '../img/sprite.png'
$ip-ic: (82px, 0px, -82px, 0px, 62px, 62px, 347px, 299px, '../img/sprite.png', 'ip_ic', )
$mail-ic-name: 'mail_ic'
$mail-ic-x: 172px
$mail-ic-y: 258px
$mail-ic-offset-x: -172px
$mail-ic-offset-y: -258px
$mail-ic-width: 20px
$mail-ic-height: 20px
$mail-ic-total-width: 347px
$mail-ic-total-height: 299px
$mail-ic-image: '../img/sprite.png'
$mail-ic: (172px, 258px, -172px, -258px, 20px, 20px, 347px, 299px, '../img/sprite.png', 'mail_ic', )
$mail-ic-small-name: 'mail_ic_small'
$mail-ic-small-x: 295px
$mail-ic-small-y: 236px
$mail-ic-small-offset-x: -295px
$mail-ic-small-offset-y: -236px
$mail-ic-small-width: 15px
$mail-ic-small-height: 11px
$mail-ic-small-total-width: 347px
$mail-ic-small-total-height: 299px
$mail-ic-small-image: '../img/sprite.png'
$mail-ic-small: (295px, 236px, -295px, -236px, 15px, 11px, 347px, 299px, '../img/sprite.png', 'mail_ic_small', )
$mail-to-name: 'mail_to'
$mail-to-x: 241px
$mail-to-y: 201px
$mail-to-offset-x: -241px
$mail-to-offset-y: -201px
$mail-to-width: 30px
$mail-to-height: 21px
$mail-to-total-width: 347px
$mail-to-total-height: 299px
$mail-to-image: '../img/sprite.png'
$mail-to: (241px, 201px, -241px, -201px, 30px, 21px, 347px, 299px, '../img/sprite.png', 'mail_to', )
$marker-ic-name: 'marker_ic'
$marker-ic-x: 257px
$marker-ic-y: 258px
$marker-ic-offset-x: -257px
$marker-ic-offset-y: -258px
$marker-ic-width: 11px
$marker-ic-height: 15px
$marker-ic-total-width: 347px
$marker-ic-total-height: 299px
$marker-ic-image: '../img/sprite.png'
$marker-ic: (257px, 258px, -257px, -258px, 11px, 15px, 347px, 299px, '../img/sprite.png', 'marker_ic', )
$phone-ic-hover-name: 'phone_ic-hover'
$phone-ic-hover-x: 57px
$phone-ic-hover-y: 258px
$phone-ic-hover-offset-x: -57px
$phone-ic-hover-offset-y: -258px
$phone-ic-hover-width: 47px
$phone-ic-hover-height: 41px
$phone-ic-hover-total-width: 347px
$phone-ic-hover-total-height: 299px
$phone-ic-hover-image: '../img/sprite.png'
$phone-ic-hover: (57px, 258px, -57px, -258px, 47px, 41px, 347px, 299px, '../img/sprite.png', 'phone_ic-hover', )
$phone-ic-name: 'phone_ic'
$phone-ic-x: 0px
$phone-ic-y: 258px
$phone-ic-offset-x: 0px
$phone-ic-offset-y: -258px
$phone-ic-width: 47px
$phone-ic-height: 41px
$phone-ic-total-width: 347px
$phone-ic-total-height: 299px
$phone-ic-image: '../img/sprite.png'
$phone-ic: (0px, 258px, 0px, -258px, 47px, 41px, 347px, 299px, '../img/sprite.png', 'phone_ic', )
$phone-ic-small-name: 'phone_ic_small'
$phone-ic-small-x: 232px
$phone-ic-small-y: 258px
$phone-ic-small-offset-x: -232px
$phone-ic-small-offset-y: -258px
$phone-ic-small-width: 15px
$phone-ic-small-height: 15px
$phone-ic-small-total-width: 347px
$phone-ic-small-total-height: 299px
$phone-ic-small-image: '../img/sprite.png'
$phone-ic-small: (232px, 258px, -232px, -258px, 15px, 15px, 347px, 299px, '../img/sprite.png', 'phone_ic_small', )
$quotes-ic-name: 'quotes_ic'
$quotes-ic-x: 0px
$quotes-ic-y: 0px
$quotes-ic-offset-x: 0px
$quotes-ic-offset-y: 0px
$quotes-ic-width: 72px
$quotes-ic-height: 65px
$quotes-ic-total-width: 347px
$quotes-ic-total-height: 299px
$quotes-ic-image: '../img/sprite.png'
$quotes-ic: (0px, 0px, 0px, 0px, 72px, 65px, 347px, 299px, '../img/sprite.png', 'quotes_ic', )
$safebox-ic-name: 'safebox_ic'
$safebox-ic-x: 125px
$safebox-ic-y: 201px
$safebox-ic-offset-x: -125px
$safebox-ic-offset-y: -201px
$safebox-ic-width: 44px
$safebox-ic-height: 45px
$safebox-ic-total-width: 347px
$safebox-ic-total-height: 299px
$safebox-ic-image: '../img/sprite.png'
$safebox-ic: (125px, 201px, -125px, -201px, 44px, 45px, 347px, 299px, '../img/sprite.png', 'safebox_ic', )
$safebox-ic-hover-name: 'safebox_ic_hover'
$safebox-ic-hover-x: 71px
$safebox-ic-hover-y: 201px
$safebox-ic-hover-offset-x: -71px
$safebox-ic-hover-offset-y: -201px
$safebox-ic-hover-width: 44px
$safebox-ic-hover-height: 45px
$safebox-ic-hover-total-width: 347px
$safebox-ic-hover-total-height: 299px
$safebox-ic-hover-image: '../img/sprite.png'
$safebox-ic-hover: (71px, 201px, -71px, -201px, 44px, 45px, 347px, 299px, '../img/sprite.png', 'safebox_ic_hover', )
$search-ic-hover-name: 'search_ic-hover'
$search-ic-hover-x: 295px
$search-ic-hover-y: 0px
$search-ic-hover-offset-x: -295px
$search-ic-hover-offset-y: 0px
$search-ic-hover-width: 52px
$search-ic-hover-height: 52px
$search-ic-hover-total-width: 347px
$search-ic-hover-total-height: 299px
$search-ic-hover-image: '../img/sprite.png'
$search-ic-hover: (295px, 0px, -295px, 0px, 52px, 52px, 347px, 299px, '../img/sprite.png', 'search_ic-hover', )
$search-ic-name: 'search_ic'
$search-ic-x: 231px
$search-ic-y: 128px
$search-ic-offset-x: -231px
$search-ic-offset-y: -128px
$search-ic-width: 52px
$search-ic-height: 52px
$search-ic-total-width: 347px
$search-ic-total-height: 299px
$search-ic-image: '../img/sprite.png'
$search-ic: (231px, 128px, -231px, -128px, 52px, 52px, 347px, 299px, '../img/sprite.png', 'search_ic', )
$shopping-cart-ic-hover-name: 'shopping_cart_ic-hover'
$shopping-cart-ic-hover-x: 295px
$shopping-cart-ic-hover-y: 182px
$shopping-cart-ic-hover-offset-x: -295px
$shopping-cart-ic-hover-offset-y: -182px
$shopping-cart-ic-hover-width: 48px
$shopping-cart-ic-hover-height: 44px
$shopping-cart-ic-hover-total-width: 347px
$shopping-cart-ic-hover-total-height: 299px
$shopping-cart-ic-hover-image: '../img/sprite.png'
$shopping-cart-ic-hover: (295px, 182px, -295px, -182px, 48px, 44px, 347px, 299px, '../img/sprite.png', 'shopping_cart_ic-hover', )
$shopping-cart-ic-name: 'shopping_cart_ic'
$shopping-cart-ic-x: 78px
$shopping-cart-ic-y: 146px
$shopping-cart-ic-offset-x: -78px
$shopping-cart-ic-offset-y: -146px
$shopping-cart-ic-width: 48px
$shopping-cart-ic-height: 44px
$shopping-cart-ic-total-width: 347px
$shopping-cart-ic-total-height: 299px
$shopping-cart-ic-image: '../img/sprite.png'
$shopping-cart-ic: (78px, 146px, -78px, -146px, 48px, 44px, 347px, 299px, '../img/sprite.png', 'shopping_cart_ic', )
$static-ic-name: 'static_ic'
$static-ic-x: 0px
$static-ic-y: 146px
$static-ic-offset-x: 0px
$static-ic-offset-y: -146px
$static-ic-width: 68px
$static-ic-height: 45px
$static-ic-total-width: 347px
$static-ic-total-height: 299px
$static-ic-image: '../img/sprite.png'
$static-ic: (0px, 146px, 0px, -146px, 68px, 45px, 347px, 299px, '../img/sprite.png', 'static_ic', )
$tc-ic-green-name: 'tc_ic-green'
$tc-ic-green-x: 154px
$tc-ic-green-y: 0px
$tc-ic-green-offset-x: -154px
$tc-ic-green-offset-y: 0px
$tc-ic-green-width: 67px
$tc-ic-green-height: 49px
$tc-ic-green-total-width: 347px
$tc-ic-green-total-height: 299px
$tc-ic-green-image: '../img/sprite.png'
$tc-ic-green: (154px, 0px, -154px, 0px, 67px, 49px, 347px, 299px, '../img/sprite.png', 'tc_ic-green', )
$tc-ic-hover-name: 'tc_ic-hover'
$tc-ic-hover-x: 179px
$tc-ic-hover-y: 201px
$tc-ic-hover-offset-x: -179px
$tc-ic-hover-offset-y: -201px
$tc-ic-hover-width: 52px
$tc-ic-hover-height: 37px
$tc-ic-hover-total-width: 347px
$tc-ic-hover-total-height: 299px
$tc-ic-hover-image: '../img/sprite.png'
$tc-ic-hover: (179px, 201px, -179px, -201px, 52px, 37px, 347px, 299px, '../img/sprite.png', 'tc_ic-hover', )
$tc-ic-name: 'tc_ic'
$tc-ic-x: 136px
$tc-ic-y: 146px
$tc-ic-offset-x: -136px
$tc-ic-offset-y: -146px
$tc-ic-width: 52px
$tc-ic-height: 37px
$tc-ic-total-width: 347px
$tc-ic-total-height: 299px
$tc-ic-image: '../img/sprite.png'
$tc-ic: (136px, 146px, -136px, -146px, 52px, 37px, 347px, 299px, '../img/sprite.png', 'tc_ic', )
$video-ic-name: 'video_ic'
$video-ic-x: 71px
$video-ic-y: 75px
$video-ic-offset-x: -71px
$video-ic-offset-y: -75px
$video-ic-width: 67px
$video-ic-height: 50px
$video-ic-total-width: 347px
$video-ic-total-height: 299px
$video-ic-image: '../img/sprite.png'
$video-ic: (71px, 75px, -71px, -75px, 67px, 50px, 347px, 299px, '../img/sprite.png', 'video_ic', )
$video-play-pause-ic-name: 'video_play_pause_ic'
$video-play-pause-ic-x: 0px
$video-play-pause-ic-y: 75px
$video-play-pause-ic-offset-x: 0px
$video-play-pause-ic-offset-y: -75px
$video-play-pause-ic-width: 61px
$video-play-pause-ic-height: 61px
$video-play-pause-ic-total-width: 347px
$video-play-pause-ic-total-height: 299px
$video-play-pause-ic-image: '../img/sprite.png'
$video-play-pause-ic: (0px, 75px, 0px, -75px, 61px, 61px, 347px, 299px, '../img/sprite.png', 'video_play_pause_ic', )
$vk-ic-name: 'vk_ic'
$vk-ic-x: 142px
$vk-ic-y: 258px
$vk-ic-offset-x: -142px
$vk-ic-offset-y: -258px
$vk-ic-width: 20px
$vk-ic-height: 20px
$vk-ic-total-width: 347px
$vk-ic-total-height: 299px
$vk-ic-image: '../img/sprite.png'
$vk-ic: (142px, 258px, -142px, -258px, 20px, 20px, 347px, 299px, '../img/sprite.png', 'vk_ic', )
$wifi-ic-name: 'wifi_ic'
$wifi-ic-x: 0px
$wifi-ic-y: 201px
$wifi-ic-offset-x: 0px
$wifi-ic-offset-y: -201px
$wifi-ic-width: 61px
$wifi-ic-height: 47px
$wifi-ic-total-width: 347px
$wifi-ic-total-height: 299px
$wifi-ic-image: '../img/sprite.png'
$wifi-ic: (0px, 201px, 0px, -201px, 61px, 47px, 347px, 299px, '../img/sprite.png', 'wifi_ic', )
$world-ic-hover-name: 'world-ic-hover'
$world-ic-hover-x: 295px
$world-ic-hover-y: 62px
$world-ic-hover-offset-x: -295px
$world-ic-hover-offset-y: -62px
$world-ic-hover-width: 51px
$world-ic-hover-height: 50px
$world-ic-hover-total-width: 347px
$world-ic-hover-total-height: 299px
$world-ic-hover-image: '../img/sprite.png'
$world-ic-hover: (295px, 62px, -295px, -62px, 51px, 50px, 347px, 299px, '../img/sprite.png', 'world-ic-hover', )
$world-ic-name: 'world-ic'
$world-ic-x: 295px
$world-ic-y: 122px
$world-ic-offset-x: -295px
$world-ic-offset-y: -122px
$world-ic-width: 51px
$world-ic-height: 50px
$world-ic-total-width: 347px
$world-ic-total-height: 299px
$world-ic-image: '../img/sprite.png'
$world-ic: (295px, 122px, -295px, -122px, 51px, 50px, 347px, 299px, '../img/sprite.png', 'world-ic', )
$spritesheet-width: 347px
$spritesheet-height: 299px
$spritesheet-image: '../img/sprite.png'
$spritesheet-sprites: ($arrow-right, $arrow-right-green, $computer-ic-hover, $computer-ic, $filter-ic, $instagramm-ic, $ip-ic, $mail-ic, $mail-ic-small, $mail-to, $marker-ic, $phone-ic-hover, $phone-ic, $phone-ic-small, $quotes-ic, $safebox-ic, $safebox-ic-hover, $search-ic-hover, $search-ic, $shopping-cart-ic-hover, $shopping-cart-ic, $static-ic, $tc-ic-green, $tc-ic-hover, $tc-ic, $video-ic, $video-play-pause-ic, $vk-ic, $wifi-ic, $world-ic-hover, $world-ic, )
$spritesheet: (347px, 299px, '../img/sprite.png', $spritesheet-sprites, )

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home
//   @include sprite-width($icon-home)
//
// .icon-email
//   @include sprite($icon-email)
//
// Example usage in HTML:
//   `display: block` sprite:
//   <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//   // CSS
//   .icon {
//     display: inline-block;
//   }
//
//   // HTML
//   <i class="icon icon-home"></i>
@mixin sprite-width($sprite)
  width: nth($sprite, 5)

@mixin sprite-height($sprite)
  height: nth($sprite, 6)

@mixin sprite-position($sprite)
  $sprite-offset-x: nth($sprite, 3)
  $sprite-offset-y: nth($sprite, 4)
  background-position: $sprite-offset-x  $sprite-offset-y

@mixin sprite-image($sprite)
  $sprite-image: nth($sprite, 9)
  background-image: url(#{$sprite-image})

@mixin sprite($sprite)
  @include sprite-image($sprite)
  @include sprite-position($sprite)
  @include sprite-width($sprite)
  @include sprite-height($sprite)

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SASS
//
// @include sprites($spritesheet-sprites)
@mixin sprites($sprites)
  @each $sprite in $sprites
    $sprite-name: nth($sprite, 10)
    .#{$sprite-name}
      @include sprite($sprite)
