extends ../base

block title
    | Акции

block main
    main#actions.actions__page

        section.specials
            .container
                .row
                    .col-sm-3.col-xs-4
                        .default-section__wrap
                            .default-section__info
                                span акции
                                a(href="#").full-news__old-news Другие акции

                    .col-sm-10.col-xs-12
                        .full-news__detals
                            ul.full-news__type
                                li.active
                                    a(href="#") связь
                                li
                                    a(href="#") интернет
                                li
                                    a(href="#") акции

        section.action-description
            .container
                .row
                    .col-lg-offset-3.col-lg-11.col-md-offset-2.col-md-11.col-sm-offset-1.col-sm-12.col-xs-16
                        .action-description__wrap
                            h1.action-description__main Подключи интернет и выиграй сноуборд
                            p.action-description__rules Подключись в период с 01.11.17 по 22.12.17 г. и участвуй  в новогоднем розыгрыше. Среди призов — роутеры, клавиатуры, мыши, а главный приз — сноуборд! Розыгрыш состоится 23 декабря.
                            p.action-description__more-info Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem.
                            img(src="img/ballistic_logo.png" alt="").action-description__sponsor